html,body {
    height: 100%;
    font-size: 1rem;
}
.rounded {
    width:100%;
    overflow:hidden;
    height:auto;
}
.main-nav {
    /* height: 950vh; */
}
.main-nav a{
  /* text-decoration:none;
   text-transform: capitalize;
  color: #3498db; */ 
  margin-top:10px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display:inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition:0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration:none;

}
.main-nav a:hover {
    background:#3498db;
    color:#fff;
}
.rounded-g {
    border-radius: 13px !important;
    /* height: 550px; */
}
/* .gallery-inside {
    padding-top: 350px;
    padding-bottom: 560px;
} */

@media (max-width:991px) {
    .gallery-inside {
        /* padding-top: 350px; */
        /* padding-bottom: -560px; */
    }
    .sub-main {
        padding-top:10px;
    }

}
@media (max-width:725px) {
    .gallery-inside {
        /* padding-top: 300px; */
    }
    .sub-main {
        padding-top:10px;
    }

}
@media (max-width:560px) {
    .gallery-inside {
        /* padding-top: 200px; */
    }
    .sub-main {
        padding-top:10px;
    }
    .footer-main {
        margin-top: 300px !important;
    }
}


.master {
    background-color: white;
    display: grid;
    grid-row-gap: 90px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(438px, 1fr));
    grid-auto-flow: dense !important;
    grid-auto-rows: 333px;
    
}
@media (max-width: 1000px) {
    .master {
        display:flex;
        flex-direction: column;

    }
   
    .photo {
       height: 500px !important;
       padding-left: 30px;

    }
    .photo {
        height: 100vh !important;
    }
    .div-myPic {
        height: 420px;
        width: 100% !important;
        margin-bottom: 20px;
    }
    .myPic {
        height: 420px;
        width: 320px !important;
        border-radius: 50%;
    }


   

   
 
}
.footer-main { 
    font-size: 2rem;
    color: rgb(253, 253, 252);
        background-color: rgb(25, 99, 124);
        padding-top: 20px;
        clear: both;
   }

   .copy {
    color: #3498db;
    font-size: 1rem;
    padding: 20px 0;
    text-align: center;
    
    display: inline !important;
 
   }

   .footer-div a{
      margin-top:10px;
    width: 200px;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    display:inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    color:rgb(238, 245, 243);
    transition:0.5s;
    border: 2px solid #3498db;
    text-decoration:none;
    display: flex;
    justify-content: center;

  
  }
   .footer-div a:hover {
    background:#3498db;
    color: #fff;

   }
  
   .members-main {
       margin: 30px 0 0 10px;
   }
   .members img {
       border-radius: 100%;
       height: 300px;

   }
 


   .photo {
    height: 240px !important;
}
.about {
    padding-top: 50px;
}
.about a {
    margin-top:10px;
    width: 200px;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    display:inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    color:#3498db;
    transition:0.5s;
    border: 2px solid #3498db;
    text-decoration:none;
    display: flex;
    justify-content: center;

}
.about a:hover {
    background:#3498db;
    color: #fff;
}
.contact {
    min-height: 80vh;
}
.date {
    height: 90vh;
}
.date a {
    margin-top:10px;
    width: 210px;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display:inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    color:#3498db;
    transition:0.5s;
    border: 2px solid #3498db;
    text-decoration:none;
    display: flex;
    justify-content: center;


}
.date a:hover {
    background:#3498db;
    color: #fff;
}
.brand-name {
    color:#3498db;
}
.d-flex {
    padding-top: 100px;

}
.master-master {
    padding-left: 34%;
    display: grid;
    grid-template-columns: repeat(1,500px);
    grid-auto-rows: 500px;

    grid-auto-flow: dense;


}
.a {
    grid-row: 1/3;
}
.e {
    grid-row: span 2;
}
@media (max-width:1000px) {
    .master-master {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        grid-row-gap: 10px;
        padding-left: 0;
    }
}
.button a {
    text-decoration: none;
    color: white;
}




  




