.navbar {
    background-color: #fff !important;
    font-size: 1.5rem;
   
 
    padding:0;
  }
  .navbar-brand {
      font-size: 2.3rem !important;
      color: #565387 !important;
  }
.navbar-nav a:hover {
   /* color: rgb(223, 140, 73) !important; */
   font-weight: bold;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
}
